@use "../variables.scss" as *;

.user-detail {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $color-blue-dark;
  border-radius: 2xp;
  width: 30rem;
  gap: 2rem;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input:disabled {
      background-color: rgb(44, 44, 44);
      color: $color-white;
    }
  }

  &__btn {
    align-self: flex-end;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    width: fit-content;
    font-size: 1.6rem;
    color: $color-white;
    background-color: $color-blue-light;
    font-weight: 600;
    border: 3px solid transparent;
    cursor: pointer;

    &:hover {
      color: $color-blue-light;
      background-color: $color-white;
    }
  }
}
